<nav class="navbar navbar-light bg-light">
  <div class="container">
    <span class="navbar-brand mb-0 h1">MOVIENITE</span>
  </div>
</nav>
<div class="nav-scroller bg-white shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <nav class="nav nav-underline">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="#">
            {{ movieTitle$ | async }}
            <span class="badge badge-pill bg-info align-text-bottom"> {{ movieGenre$ | async }}</span>
          </a>
        </nav>
      </div>
      <div class="col-md-4">
        <a href="" class="nav-link btn btn-plain float-right">Add Movie</a>
      </div>
    </div>
  </div>
</div>



