<div class="row mt-5">
  <div class="col-md-8 offset-md-2">
    <div class="card mb-5">
      <div class="card-body p-4">
        <form novalidate>
          <div class="mb-3">
            <label>Title</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Movie title" >
              <div class="invalid-feedback">
                Title is required.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label>Genre</label>
              <input type="text" class="form-control"  placeholder="Genre">
              <div class="invalid-feedback">
                Genre is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label>Release year</label>
              <input type="text" class="form-control"  placeholder="Release year">
              <div class="invalid-feedback">
                Release year is required.
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-secondary btn-lg btn-block" type="submit">Create Movie</button>
        </form>
      </div>
    </div>
  </div>
</div>
